<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Modif_Cuentas</servlet-name>
        <servlet-class>Servlets.Servlet_Modif_Cuentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Cuenta</servlet-name>
        <servlet-class>Servlets.Controlador_Cuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexController</servlet-name>
        <servlet-class>Servlets.indexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioController</servlet-name>
        <servlet-class>Servlets.usuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createController</servlet-name>
        <servlet-class>Servlets.createController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showController</servlet-name>
        <servlet-class>Servlets.showController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateController</servlet-name>
        <servlet-class>Servlets.updateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Modif_Cuentas</servlet-name>
        <url-pattern>/Servlet_Modif_Cuentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Cuenta</servlet-name>
        <url-pattern>/Controlador_Cuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexController</servlet-name>
        <url-pattern>/indexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioController</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createController</servlet-name>
        <url-pattern>/alta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showController</servlet-name>
        <url-pattern>/mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateController</servlet-name>
        <url-pattern>/modificar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
