@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

body{
    background-color: #f2f2f2;
    font-family: Quicksand;
}

* {
    margin:0px;
    padding: 0px;
}

.menu {
    font-family: Quicksand;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #434343;
}

ul {
    list-style:none;
    overflow: hidden;
}

.nav > li {
    float: left;
}

.nav li p {
    background-color: #434343;
    color:#fff;
    text-decoration:none;
    padding: 10px;
    width: 400px;
    text-align: center;
    display:block;
}

.nav li a {
    background-color: #434343;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#a7baba;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

div {
    text-align: left;
    vertical-align: middle;
    padding: 2%;
    margin: 3% 3%;
    background-color: #e8e8e8;
}
form {
    text-align: center;
}
label {
    font-family: Quicksand;
    font-size: 18px;
}

.tablas {
    width: 50%;
    margin: 3% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-family: Quicksand;
    font-size: 25px;
    color: #434343;
    text-align: left;
}

table {
    align-self: center;
    font-size: 12px;
    border-collapse: collapse;
    overflow: hidden;
}

table th{
    border: 1px solid #000;
    padding: 8px 10px;
    font-size: 15px;    
    background-color: #434343;
    color: white;
}
table td {
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

#trash {
    height: 30px;
}

.eliminar {
    border: none;
    background-color: #fff;
}

button {
    width: 120px;
    height: 30px;
    background: gray;
    color: white;
    font-family: Quicksand;
    font-size: 18px;
    float: right;
}